Source: ns-socket-mux
Section: utils
Priority: optional
Maintainer: Jacob Owens <jowens@novuspower.com>
Build-Depends: debhelper-compat (= 13), gcc, libc6-dev
Standards-Version: 4.6.0

Package: ns-socket-mux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Serial port to socket bridge service
 This service creates a bridge between a serial port and multiple
 serial services, allowing multiple applications to communicate
 over a single serial connection.