[Unit]
Description=Serial to Socket Mux
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ns-serial-mux
Restart=on-failure
User=root
RuntimeDirectory=ns
RuntimeDirectoryMode=0777

[Install]
WantedBy=multi-user.target
