Package: ns-serial-mux-dbgsym
Source: ns-serial-mux
Version: 1.0.15
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 22
Depends: ns-serial-mux (= 1.0.15)
Section: debug
Priority: optional
Description: debug symbols for ns-serial-mux
Build-Ids: 936342caf76c07738c01ab9aeb4d88891011f1e6
