Package: ns-serial-mux-dbgsym
Package-Type: ddeb
Source: ns-serial-mux
Version: 1.0.14
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 22
Depends: ns-serial-mux (= 1.0.14)
Section: debug
Priority: optional
Description: debug symbols for ns-serial-mux
Build-Ids: 11f85e7c32bb618b7f930e5aa9ccc61dc8d9e87a
